<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Getting Started</title>
        <script src="https://unpkg.com/vue"></script>
        
    </head>
<body>
    <div id="app">
        <h1>{{ name }}</h1>
    <p>{{ description }}</p>
    <p v-if="condition=true"> true </p>
    <p v-else-if="condition=false"> false </p>
    <p v-else> neither true nor false </p></div>

    <div class="right">
        <div class="field">
            <div class="control">
                <label>Name</label><br>
                <input class="input" v-model="name">    //bind value to variable using v-model
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label>description</label><br>
                <input class="input" v-model="description">    
            </div>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                name: "Vue Hero",
                description: "desc",
                condition: true,
            }
        })
    </script>
</body>
</html>